*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
#page {
	width: 1903px;
	height: 1080px;
	background-color: #F2F2F2;
}

#titleTab #myTab {
	width: 240px;
	height: 1080px;
	background-color: #1e2533;
}

#titleTab #myTab>li {
	width: 240px;
	float: left;
}

#titleTab #myTab>li>a {
	text-align: center;
}

#titleTab #myTab>p {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#titleTab {
	float: left;
	height: 1080px;
	width: 240px;
}

#tle {
	height: 80px;
}

#tle>div:first-child {
	height: 80px;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: white;
	width: 1482px;
	float: left;
	padding-left: 44px;
}

#userName {
	height: 80px;
	padding-bottom: 20px;
	padding-top: 15px;
	background-color: white;
	width: 181px;
	float: left;
	padding-right: 46px;
}

#tle>div>img {
	margin-left: 7px;
}

#group_title{
	width: 1592;
}
#group_title > ul >li{
	float: left;
}

#nav{
	width: 1571px;
	height: 59px;
	background-color: #ffffff;
	border-radius: 4px;
	margin-left: 290px;
}
#nav1{
	width: 1585px;
	height: 59px;
	background-color: #ffffff;
	border-radius: 4px;
	margin-left: 49px;
}


#con_table_11{
	width: 1565px;
	margin-left: 44px;
	margin-top: 10px;
	border-radius: 4px;
	/*display: none;*/
}

#nav1 ul li{
	float: left;
	text-align: center;
	line-height: 59px;
	width: 450px;
	font-family: PingFang-SC-Bold;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #373535;
}

#nav1 ul li a{
	color: black;
}

#nav1 ul li a:hover{
	color: #08A2F3;
	text-decoration:none;
	cursor: pointer;
	font-weight: bold;
}

#nav ul li{
	float: left;
	text-align: center;
	line-height: 59px;
	width: 450px;
	font-family: PingFang-SC-Bold;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #373535;
}

#nav ul li a{
	color: black;
}

#nav ul li a:hover{
	color: #08A2F3;
	text-decoration:none;
	cursor: pointer;
	font-weight: bold;
}

#con_table_1{
	width: 1571px;
	margin-left: 285px;
	margin-top: 10px;
	border-radius: 4px;
	/*display: none;*/
}

.box{
	width: 516px;
	height: 274px;
	background-color: #ffffff;
	border-radius: 4px;
	margin:5px;
}

.box1{
	width: 780px;
	height: 344px;
	background-color: #ffffff;
	border-radius: 4px;
	margin:5px;
}

.box2{
	width: 1571px;
	height: 828px;
	background-color: #ffffff;
	border-radius: 4px;
	margin:5px;
}
#footer{
	height: 80px;
	text-align: center;
	font-family: PingFang-SC-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 70px;
	letter-spacing: 0px;
	color: #373535;
}
